* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: "Roboto Condensed", sans-serif;
    /*background-image: linear-gradient(90deg, white 0%, rgb(160, 157, 139) 35%, rgb(134, 113, 60) 100%);*/
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
h1 {
    padding: 12px;
    margin-bottom: 30px;
    font-size: 45px;
    letter-spacing: 3px;
    background-color: rgb(179, 131, 10);
}
.logo {
    font-size: 32px;
    font-weight: bold;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    padding-right: 20px;
}
nav ul li a {
    padding: 5px 10px;
    color: white;
    font-size: 22px;
    text-decoration: none;
}
nav ul li a:hover,
nav ul li a.active {
    background-color: white;
    color: black;
}
main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    scroll-margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-image: url('./Screenshot_20240514_203522_Instagram.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;   
    border: 2px solid rgb(179, 131, 10);*/
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home-paragraph {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.home-paragraph-second {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: rgb(179, 131, 10);
    margin-top: 20px;
}
.home-button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.home-button a {
    padding: 20px 60px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    background-color: black;
    text-decoration: none;
}
.home-button a:hover {
    color: rgb(179, 131, 10);
}
.section-about {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.section-about-img {
    width: 100%;
    max-width: 700px;
    max-height: 700px;
}
.section-about-description {
    max-width: 800px;
}
.section-about-description-p {
    font-size: 20px;
    text-align: justify;
}
.section-about-description-rs {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 18px;
    background-color: rgb(179, 131, 10);
} 
.section-about-description-rs a {
    color: black;
    font-size: 2em;
    text-decoration: none;
}
.section-about-description-rs a:hover {
    color: white;
}
.section-socialmedia {
    position: fixed;
    z-index: 1000;
    top: 70%;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 16px;
    background-color: rgb(179, 131, 10);
}
.section-socialmedia a {
    color: black;
    font-size: 2em;
    text-decoration: none;
}  
.section-socialmedia a:hover {
    color: white;
}                 
.gallery-container {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.gallery-item  {
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*box-shadow: 8px 6px 6px black; */
    overflow: hidden;
    transition: transform 0.3s ease;
}
.description {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
    transition: opacity 0.3s ease;
}
.gallery-item:hover .description {
    display: block;
    opacity: 1;
}
.gallery-item:hover .imagen {
    transform: scale(1.1);
}
h2 {
    padding: 10px 20px;
    font-size: 45px;
    background-color: rgb(179, 131, 10);
}
.section-contact-h2 {
    margin-bottom: 30px;
}
#contact {
    width: 100%;
        
}
form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(179, 131, 10);
    margin: 0 auto;
}
form label {
    font-size: 24px;
    margin-top: 10px;
}
form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgb(179, 131, 10);
    border-radius: 5px;
}
form button {
    margin-top: 20px;
    padding: 20px 60px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
form button:hover {
    color: black;
    background-color: rgb(179, 131, 10);
}
.section-service-h2 {
    margin-bottom: 30px;
}
.section-service {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
article {
    width: 300px;
    font-size: 20px;
}
h3 {
    text-align: center;
}
footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0px;
}
@media (max-width: 768px) {
    header {
        justify-content: flex-start;
    }
    .logo {
        align-content: center;
        margin-right: 25px;
    }
    nav ul {
        display: block;    
    }
    nav ul li a:hover,
    nav ul li a.active {
    background-color: transparent;
    color: rgb(179, 131, 10);
    }
    h1 {
        font-size: 20px;
    }
    .section {
        height: auto;
        padding-top: 180px;
        scroll-margin-top: 25px;
    }
    .home-button {
        flex-direction: column;
    }
    .section-about {
        flex-direction: column;
    }
    .gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .gallery-item {
        width: 100%;
        height: 100%;
    }
    .section-socialmedia {
        background-color: transparent;
    }
    .section-socialmedia a {
        color: red;
        font-size: 1.2em;
    }                  
}